* {
  /*padding: 0 auto;*/
  margin: 0;
  box-sizing: border-box;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #999;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  width: 1200px;
  align-items: start;
}

/*BARRA DE NAVEGACION*/
h1 {
  color: rgb(92, 90, 90);
  margin: 100px;
}

form {
  margin: 30px;
}

/*LOGO*/
img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  padding: 30px;
}

/*MODAL*/
#exampleModal.modal.fade.show{
 background-color: transparent ;
}

button.btn.btn-outline-success {
  color: #080808;
  border-color: #080808;
}

button.btn.btn-primary {
  padding: 10px;
  margin-left: 43%;
  margin-bottom: 3%;
  background-color: #080808;
  color: #bcbabd;
}

/*CARDS*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
  max-width: 18rem;
  margin: 10px;
}

.card-body {
  border: 3px solid black;
  box-shadow: 0 3px 6px rgb#EBDEF0;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

a.btn.btn-primary {
  background-color: #080808;
  color: #bcbabd;
  border-color: #080808;
}

a.masinfo {
  color: #080808;
}

/*PAGINACION*/
.pagination {
  justify-content: center;
  align-items: center;
  background-color: #999;

}

ul li.page-item a.page-link {
  border-radius: 20%;
  color: #080808;
  background-color: #999;
}

/*FOOTER*/
footer {
  margin-bottom: -49px;
  font-weight: 200;
  width: 100vw;
  position: relative;
  color: #999;
  justify-content: center;
  font-family: Arial, sans-serif;
}

footer ul {
  list-style: none;
}

footer ul li {
  color: #fff;
  float: inline-start;
  display: block;
  padding: 65px;
  color: #fff;
  text-decoration: none;

}

.img-footer {
  display: inline;

}

footer img.iconos {
  display: inline;
  /*position: relative;*/
  width: 100px;
  /*height: 50px;
  background-color: rgb(146, 145, 153);*/
}

footer p span {
  display: flex;
  padding: 10px;
  color: #080808;
  /*background-color: #666;*/
  justify-content: center;
}


@media only screen and (max-width: 896px) {
  
.container {
  display:block;
 
}

}

