* {
  /*padding: 0 auto;*/
  margin: 0;
  box-sizing: border-box;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #999;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 200px);*/
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
  max-width: 18rem;
  margin: 10px;
}

.card-body {
  border: 3px solid black;
  box-shadow: 0 3px 6px rgb#EBDEF0;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  padding: 30px;
}


/*.container-fluid h1 {
  margin: 80px;
  font-size:10rem;
}*/

h1 {
  
  color: rgb(77, 75, 75);
}

footer {
  margin-bottom: -49px;
  font-weight: 200;
  width: 100vw;
  position: relative;
  color: #999;
  justify-content: center;
  font-family: Arial, sans-serif;
}

footer ul {
  list-style: none;
}

footer ul li {
  color: #fff;
  float: inline-start;
  display: block;
  padding: 65px;
  color: #fff;
  text-decoration: none;

}

.img-footer {
  display: inline;

}

footer img.iconos {
  display: inline;
  /*position: relative;*/
  width: 100px;
  /*height: 50px;
  background-color: rgb(146, 145, 153);*/
}

footer p span {
  display: flex;
  padding: 10px;
  color: #080808;
  /*background-color: #666;*/
  justify-content: center;
}

.pagination {
  justify-content: center;
  align-items: center;
  background-color: #999;
}

/*Mi vecino Totoro
.container-sinopsis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  grid-template-areas: "p image";

}

h1 {
  text-align: center;
}

.personajes {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-area: image;
}

p {
  text-align: center;
}*/

/*@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}*/