
.container-sinopsis2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  grid-template-areas:"p image";
}
.navbar img{
  margin-right: 100px;
  margin-top: -203px;
}

h1 {
  display: flex;
  font-size: 80px;
  color: rgb(77, 75, 75);
  margin: 50px;
  align-items: center;
}


h2{
  color: rgb(77, 75, 75);
  margin: 50px;
  font-size: 50px;
}

/*IMAGENES*/
.personajes {
  width: 100%;
}
.setsuko{
  margin-top: 70px;
  width:100%;
  height: 90%;
} 

p {
 margin: 50px;
 
}
